# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.devcontainer
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
# We DO NOT ignore 'docs' because it is used for GitHub Pages
# dist
